@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Dosis:wght@200;300;400;700;800&family=Lato:wght@100;300;400;900&family=Poppins:wght@300;500;900&family=Quicksand:wght@300;400;500;700&family=Red+Hat+Display:wght@300;400;500;800&family=Space+Mono:wght@400;700&display=swap');
* {
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Red Hat Display', sans-serif;
}
body{
    background-color: #ff9d00;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%23ff9d00' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23f19602' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23e28f04' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23d48806' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23c58108' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23b77909' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23a8720b' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%239a6b0d' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%238b640f' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%237d5d11' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%236e5613' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23604f15' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%23514817' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%23434018' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%2334391a' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%2326321c' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%23172b1e' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23092420' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}
.background{
    background-color: #1A2B33;
}
.font {
  font-size: 12px;
}
.poppin{
  font-family: Poppins,serif;
  font-weight: 900;
}
.quick {
  font-family: Quicksand,serif;
  font-weight: 700;
}
.container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding: 5vw;
  width: 100%;
  justify-content:center;
  align-content:center;
}
.header {
  box-sizing: border-box;
  box-shadow: 0 1px 4px 0px black;
}
.header a {
  color: rgb(242, 242, 242);
  display: inline;
  text-decoration: none;
  margin-top: 2%;
  cursor: pointer;
  font-family: Quicksand,serif;
  font-weight: 700;
}
a:focus,
a:hover,
a:visited {
  background: transparent!important;
  text-decoration: none !important;
  color:rgb(242, 242, 242);
}
.navbar {
  margin-top: 0;
  padding: 0 5% 0 5%;
  margin: 0;
  height: 10%;
}
.borderline {
  border-radius: 4px;
  border: 1px solid grey;
  width: 100%;
  padding: 5%;
  height: auto;
  margin-top: 3%;
  background-color: #fff;
}
.link {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #001a00;
  width: auto;
  font-size: 15px;
  cursor: pointer;
  float: right;
  font-family: 'Red Hat Display', sans-serif;
  width: 100%;
  display: block;
  margin: auto;
  display: flex;
  align-content: center;
  justify-content: center;
  text-decoration: none;
  color: rgb(242, 242, 242);
  background-color: #41323b;
}
.hlink{
    border: 1px solid rgb(242, 242, 242);
    border-radius: 15px;
    padding: 2px 10px;
}
/* FOOTER */
.footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1rem 0;
  margin-bottom: none;
  box-sizing: border-box;
  color: white;
  width: 100%;
  height: 100%;
  margin-bottom: 0;
}
.footer a{
    background: transparent!important;
    text-decoration: none !important;
    color:rgb(242, 242, 242);
}
.grid a {
  color: rgb(242, 242, 242);
  padding: 2px;
  display: inline;
  text-decoration: none;
  cursor: pointer;
  font-family: Quicksand,serif;
  font-weight: 700;
}
.grid {
  display: grid;
  grid-template-columns: 50% 50%;
}
.footer .grid li,ul {
  list-style-type: none;
  margin-top: 3%;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.block{
    display:block;
}
.red{
    color: red;
}
.green {
  color: green;
}
.grey {
  color: grey;
}
/* TABLE */
table {
  border-collapse: collapse;
  font-size: 12px;
  width: 100%;
}
th,td {
  padding: 3px;
  text-align: left;
  border-bottom: 1px solid;
}
th {
  font-weight: bolder;
  background-color: #41323b;
  color: rgb(241, 241, 241);
  padding: 2px;
  font-size: 10px;
}
tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.inline{
    display: inline;
}
/* HOTEL GRID DISPLAY */
.img {
  width: 100%;
  height: 45%;
  object-fit:cover;
  box-shadow: 0 1px 4px 0px black;
  border-radius: 0 0 5px 5px;
}
.imgRoom{
  width: 100%;
  height: 100px;
  object-fit:cover;
}
.imglogo {
  width: 2rem;
  margin-right: 1rem;
}
.item{
    display:flex;
    align-items: center;
    align-content:center;
}
@media only screen (min-width: 768px){
    .container{
        padding:3%;
    }


}
